<app-header [showMenuButton]="showMenuButton" [showBackButton]="showBackButton" [title]="pageTitle"
  [subTitle]="subTitle"></app-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of operationDetail | keyvalue: compareFn">
      <div>
        <p>{{ item.key | splitOpName | titlecase }}</p>
        <div *ngIf="item.value && item.key === 'signer'; else otherDetail">
          <p class="ion-text-wrap">Key:
            {{ item.value.sha256Hash || item.value.preAuthTx || item.value.ed25519PublicKey }}</p>
          <p class="ion-text-wrap">Weight: {{item.value.weight}}</p>

        </div>
        <ng-template #otherDetail>
          <p class="ion-text-wrap">{{ item.value }}</p>
        </ng-template>
      </div>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="4" offset-sm="4">
        <ion-button class="ion-margin" shape="round" expand="block" color="danger" (click)="confirmDelete()">
          <ion-icon slot="end" name="trash"></ion-icon>
          Delete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>