<ion-header>
  <ion-toolbar *ngIf="isTestNetwork" color="danger">
    <ion-title>
      You are on the test network.
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="title">{{title}}</ion-title>
    <ion-title *ngIf="subTitle" size="small" color="primary" class="ion-text-uppercase">{{subTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="helpUrl" href="{{helpUrl}}">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>