<app-header [title]="pageTitle" [helpUrl]="helpUrl"></app-header>


<ion-content class="ion-padding">
  <form [formGroup]="changePasswordForm" (submit)="formSubmit()">
    <ion-item>
      <ion-label position="stacked">Current Password</ion-label>
      <app-dynamic-input [inputType]="'Password'" [form]="changePasswordForm" [controlName]="'currentPassword'"
        [placeHolder]="'Current Password'" [defaultValue]="passwordFromRecovery"></app-dynamic-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <app-dynamic-input [inputType]="'password'" [form]="changePasswordForm" [controlName]="'newPassword'"
        [minValue]="8" [placeHolder]="'New Password'"></app-dynamic-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirm New Password</ion-label>
      <app-dynamic-input [inputType]="'Password'" [form]="changePasswordForm" [controlName]="'confirmNewPassword'"
        [minValue]="8" [placeHolder]="'Confirm New Password'"></app-dynamic-input>
    </ion-item>

    <div class="ion-margin ion-text-center">
      <ion-button type="submut" [disabled]="changePasswordForm.invalid">
        Change Password
      </ion-button>
    </div>
  </form>
</ion-content>