<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- to do automatically create the receiving account if it is not active and the payment is in XLM -->
  <form [formGroup]="paymentForm">
    <ion-item>
      <ion-label position="stacked">Source</ion-label>
      <app-select-source [form]="paymentForm" [controlName]="'source'"></app-select-source>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Destination</ion-label>
      <app-dynamic-input [inputType]="'text'" [form]="paymentForm" [controlName]="'destination'"
        [placeHolder]="'Public key or Federated address'" [isRecipient]="true"></app-dynamic-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Asset</ion-label>
      <app-asset-picker [form]="paymentForm" [controlName]="'asset'" [displayType]="'manual'"></app-asset-picker>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Amount</ion-label>
      <app-dynamic-input [form]="paymentForm" [controlName]="'amount'" [placeHolder]="'Amount to send'">
      </app-dynamic-input>
    </ion-item>

    <div class="ion-margin ion-text-center">
      <ion-button type="button" [disabled]="paymentForm.invalid" (click)="buildOperation()">Save</ion-button>
      <ion-button type="button" [disabled]="paymentForm.invalid" (click)="buildOperation()">Send</ion-button>
    </div>
  </form>
</ion-content>