<app-header [title]="pageTitle" [helpUrl]="helpUrl"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="4" offset-sm="4">
        <ion-button expand="block" (click)="generateKeypair()" shape="round">
          <ion-icon name="refresh" slot="end"></ion-icon>Generate Keys
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form *ngIf="keypairGenerated" [formGroup]="newAccountForm" (submit)="formSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <ion-text>Public Key <app-copy-button [copyInput]="pairObj.public" (copyOutput)="itemCopied($event)">
                </app-copy-button>
              </ion-text>
              <p class="ion-text-wrap">{{pairObj.public}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-text>Private Key <app-copy-button [copyInput]="pairObj.private" (copyOutput)="itemCopied($event)">
                </app-copy-button>
              </ion-text>
              <p class="ion-text-wrap">{{pairObj.private}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tag</ion-label>
            <app-dynamic-input [form]="newAccountForm" [controlName]="'tag'" [inputType]="'text'" [minValue]="1"
              [placeHolder]="'My account'">
            </app-dynamic-input>
          </ion-item>
          <ion-item>
            <ion-label>I have copied keys to a safe place</ion-label>
            <ion-checkbox name="keysCopied" formControlName="keysCopied" checked="false">
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <div>
              <ion-input type="password" name="password" formControlName="password" placeHolder="Enter Password">
              </ion-input>
              <ion-text color="danger small-font" *ngIf="password.invalid && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required">
                  value is required.
                </p>
                <p *ngIf="password.errors.minlength">
                  Minimum length of {{password.errors.minlength.requiredLength}} characters required. required.
                </p>
              </ion-text>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <div class="ion-margin ion-text-center">
            <ion-button class="ion-margin" expand="block" shape="round" type="submit"
              [disabled]="newAccountForm.invalid">
              <ion-icon slot="end" name="checkmark"></ion-icon>
              Save
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>