<ion-content>
        <ion-item>
          <p>Your password has been saved and will be used when you need to authenticate transactions.</p>

        </ion-item>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Keep it safe</ion-card-subtitle>
    <ion-card-title>Recovery Password</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      <p>Use this recovery password when you forget your main password.</p>
      {{recoveryPassword}} <app-copy-button [copyInput]="recoveryPassword" (copyOutput)="itemCopied($event)">
      </app-copy-button>

      <ion-item>
        <ion-button expand="block" (click)="closeModal()">Recovery Password Saved</ion-button>
        
      </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>