<ion-content class="ion-padding">
  <ion-text class="ion-margin">
    <h3>Your password has been saved and will be used when you need to authenticate transactions.</h3>
  </ion-text>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Use this when you forget your main password.</ion-card-subtitle>
      <ion-card-title>Recovery Password</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-wrap"> {{recoveryPassword}} </ion-label>
        <app-copy-button class="ion-padding" [copyInput]="recoveryPassword">
        </app-copy-button>
      </ion-item>

      <ion-button class="ion-margin" (click)="isPasswordSaved()" shape="round">
        <ion-icon name="arrow-dropright" slot="end"></ion-icon>
        Continue
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>