<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usage Terms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4">
        <ol class="ion-text-justify">
          <li>
            <h4>User Responsibilty</h4>
            <p>You, the user, are responsible for ALL actions carried out on the Saza wallet on any device that you own
              or is in your possession. These actions include but not limited to the following</p>
            <ul>
              <li>All transactions.</li>
              <li>All purchases of tokens.</li>
              <li>Import/export of Stellar accounts.</li>
            </ul>
            <p>Furthermore, you, the user is solely responsible for ensuring your own compliance with laws and taxes
              in your jurisdiction. Cryptocurrencies may be illegal in your area. You, are solely responsible for your
              own security including keeping your account secret keys safe and backed up.</p>
          </li>
          <li>
            <h4>Privacy</h4>
            <p>Kindly review our <a [routerLink]="'/privacy-policy'">privacy policy</a> for more information.</p>
          </li>
          <li>
            <h4>Affiliation and Endorsement</h4>
            <p>Saza wallet and its developers are NOT affiliated to the Stellar network. Saza is just a user interface
              that allows you to access the Stellar network.
              Saza wallet and its developers do NOT endorse any token, asset, coin, programs and initial coin offerings
              on the Stellar network. Stellar is a public network and it is your obligation to perform due diligence
              before conducting any transactions on the network.</p>
          </li>
          <li>
            <h4>Disclaimer of warranty</h4>
            <p>Saza wallet is open source software licensed under the Apache-2.0 license. It is provided free of charge
              and on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND.
            </p>
          </li>
        </ol>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>