<div [formGroup]="form">
  <div [formGroupName]="controlName">
    <ion-segment (ionChange)="setAssetType($event.target.value)" formControlName="asset_type">
      <ion-segment-button value="native">
        <ion-label>XLM</ion-label>
      </ion-segment-button>
      <ion-segment-button value="custom">
        <ion-label>custom</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="showCustomInput">
      <ion-item>
        <app-dynamic-input [inputType]="'text'" [form]="assetGroup" [controlName]="'asset_code'" [placeHolder]="'Code'"
          [maxValue]="'12'" [isRequired]="false"></app-dynamic-input>
      </ion-item>
      <ion-item>
        <app-dynamic-input [inputType]="'text'" [form]="assetGroup" [controlName]="'asset_issuer'"
          [placeHolder]="'Issuer Public key'" [isEd25519PublicKey]="'true'" [isRequired]="false">
        </app-dynamic-input>
      </ion-item>
    </div>
  </div>
</div>