<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <form [formGroup]="forgotPasswordForm" (submit)="formSubmit()">
    <div formArrayName="passwords" *ngFor="let p of forgotPasswordForm.get('passwords').controls; let i = index;">
      <ion-item [formGroupName]="i">
        <ion-input type="text" name="password" formControlName="password" minlength="8" required></ion-input>
        <div class="text-danger"
          *ngIf="passwords.controls[i].invalid && (passwords.controls[i].dirty || passwords.controls[i].touched)">
          <div *ngIf="passwords.controls[i].get('password').errors.required">
            Value is required
          </div>
          <div *ngIf="passwords.controls[i].get('password').errors.minlength">
            Minimum length is 8 characters
          </div>
        </div>
      </ion-item>
    </div>

    <div class="ion-margin ion-text-center">
      <ion-button type="submit" [disabled]="forgotPasswordForm.invalid">
        Recover
      </ion-button>
    </div>
  </form>

</ion-content>