<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form [formGroup]="forgotPasswordForm" (submit)="formSubmit()">
    <div formArrayName="passwords" *ngFor="let p of forgotPasswordForm.get('passwords').controls; let i = index;">
      <ion-item [formGroupName]="i">
        <ion-input type="text" name="password" formControlName="password"></ion-input>
        <div class="text-danger"
          *ngIf="passwords.controls[i].invalid && (passwords.controls[i].dirty || passwords.controls[i].touched)">
          <div *ngIf="passwords.controls[i].get('password').errors.required">
            Value is required
          </div>
          <div *ngIf="passwords.controls[i].get('password').errors.minlength">
            Minimum length of 8 characters
          </div>
        </div>
      </ion-item>
    </div>

    <div class="ion-margin ion-text-center">
      <ion-button type="submit" [disabled]="forgotPasswordForm.invalid">
        Recover
      </ion-button>
    </div>
  </form> -->

  <mat-vertical-stepper #stepper>
    <mat-step [stepControl]="forgotPasswordForm">
      <form [formGroup]="forgotPasswordForm">
        <ng-template matStepLabel>Enter recovery keys</ng-template>
        <div formArrayName="passwords" *ngFor="let p of passwords.controls; let i = index;">
          <mat-form-field [formGroupName]="i">
            <input matInput type="text" name="password" formControlName="password" required>
            <div
              *ngIf="passwords.controls[i].invalid && (passwords.controls[i].dirty || passwords.controls[i].touched)">
              <mat-error *ngIf="passwords.controls[i].get('password').errors.required">
                Value is required
              </mat-error>

              <mat-error *ngIf="passwords.controls[i].get('password').errors.minlength">
                Minimum length of {{passwords.controls[i].get('password').errors.minlength.requiredLength}} characters
                required.
              </mat-error>

            </div>
          </mat-form-field>

        </div>

        <div>
          <button [disabled]="forgotPasswordForm.invalid" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="changePasswordForm">
      <form [formGroup]="changePasswordForm">
        <ng-template matStepLabel>Change Password</ng-template>
        <!-- <mat-form-field>
          <input matInput placeholder="Current Password" formControlName="currentPassword" required>
        </mat-form-field> -->
        <mat-form-field>
          <input matInput placeholder="New Password" formControlName="newPassword" required>
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
            <mat-error *ngIf="newPassword.errors.required">
              Value is required
            </mat-error>

            <mat-error *ngIf="newPassword.errors.minlength">
              Minimum length of {{newPassword.errors.minlength.requiredLength}} characters required.
            </mat-error>

            <mat-error *ngIf="newPassword.errors.isValidPassword">
              {{newPassword.errors.isValidPassword}}
            </mat-error>
          </div>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm Password" formControlName="confirmNewPassword" required>
          <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)">
            <mat-error *ngIf="confirmNewPassword.errors.required">
              Value is required
            </mat-error>

            <mat-error *ngIf="confirmNewPassword.errors.minlength">
              Minimum length of {{confirmNewPassword.errors.minlength.requiredLength}} characters required.
            </mat-error>

            <mat-error *ngIf="confirmNewPassword.errors.isValidPassword">
              {{confirmNewPassword.errors.isValidPassword}}
            </mat-error>

            <mat-error *ngIf="confirmNewPassword.errors.equalTo">
              Password mismatch.
            </mat-error>
          </div>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="changePasswordForm.invalid" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Recover account</ng-template>
      <button mat-raised-button color="primary" (click)="attemptRecovery()">Recover</button>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</ion-content>