<app-header [title]="pageTitle" [helpUrl]="helpUrl" [subTitle]="subTitle"></app-header>


<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <mat-vertical-stepper #stepper linear>
          <mat-step [stepControl]="forgotPasswordForm">
            <form [formGroup]="forgotPasswordForm">
              <ng-template matStepLabel>Enter recovery keys</ng-template>
              <div formArrayName="passwords" *ngFor="let p of passwords.controls; let i = index;">
                <mat-form-field [formGroupName]="i">
                  <input matInput type="password" name="password" formControlName="password" required>
                  <div
                    *ngIf="passwords.controls[i].invalid && (passwords.controls[i].dirty || passwords.controls[i].touched)">
                    <mat-error *ngIf="passwords.controls[i].get('password').errors.required">
                      Value is required
                    </mat-error>

                  </div>
                </mat-form-field>

              </div>

              <div>
                <button [disabled]="forgotPasswordForm.invalid" mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="changePasswordForm">
            <form [formGroup]="changePasswordForm">
              <ng-template matStepLabel>Change Password</ng-template>
              <div>
                <mat-form-field>
                  <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
                  <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                    <mat-error *ngIf="newPassword.errors.required">
                      Value is required
                    </mat-error>

                    <mat-error *ngIf="newPassword.errors.minlength">
                      Minimum length of {{newPassword.errors.minlength.requiredLength}} characters required.
                    </mat-error>

                    <mat-error *ngIf="newPassword.errors.isValidPassword">
                      {{newPassword.errors.isValidPassword}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div>

                <mat-form-field>
                  <input matInput type="password" placeholder="Confirm Password" formControlName="confirmNewPassword"
                    required>
                  <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)">
                    <mat-error *ngIf="confirmNewPassword.errors.required">
                      Value is required
                    </mat-error>

                    <mat-error *ngIf="confirmNewPassword.errors.minlength">
                      Minimum length of {{confirmNewPassword.errors.minlength.requiredLength}} characters required.
                    </mat-error>

                    <mat-error *ngIf="confirmNewPassword.errors.isValidPassword">
                      {{confirmNewPassword.errors.isValidPassword}}
                    </mat-error>

                    <mat-error *ngIf="confirmNewPassword.errors.equalTo">
                      Password mismatch.
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button [disabled]="changePasswordForm.invalid" mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Recover account</ng-template>
            <ion-button size="small" (click)="attemptRecovery()">
              Recover
            </ion-button>
          </mat-step>
        </mat-vertical-stepper>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>