<app-header [title]="pageTitle" [helpUrl]="helpUrl" [subTitle]="subTitle"></app-header>


<ion-content>
  <mat-vertical-stepper #stepper linear>
    <mat-step [stepControl]="findPathForm">
      <form [formGroup]="findPathForm">
        <ng-template matStepLabel>Find</ng-template>
        <div>
          <app-select-source [form]="findPathForm" [controlName]="'source'" [isRequired]="true"></app-select-source>
        </div>
        <div>
          <label>Destination Asset</label>

          <app-asset-picker [form]="findPathForm" [controlName]="'destinationAsset'" [displayType]="'manual'">
          </app-asset-picker>
        </div>
        <div>
          <label>Destination Amount</label>

          <app-dynamic-input [form]="findPathForm" [controlName]="'destinationAmount'" [placeHolder]="'Amount'">
          </app-dynamic-input>
        </div>

        <div>
          <button [disabled]="findPathForm.invalid" (click)="submitFindPathForm()" mat-button>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="choosePathForm">
      <form [formGroup]="choosePathForm">
        <ng-template matStepLabel>Choose</ng-template>
        <p *ngIf="destinationAmount && pathsFound.length">
          For {{destinationAmount}}
          {{ destinationAsset.asset_type === 'native' ? 'XLM' : destinationAsset.asset_code}}, you
          will send:
        </p>
        <ion-list>
          <ion-radio-group formControlName="selectedPath" name="selectedPath">
            <ng-template ngFor let-path [ngForOf]="pathsFound" let-i="index">
              <ion-item>
                <ion-label>{{path.source_amount}}
                  {{path.source_asset_type === 'native' ? 'XLM' : path.source_asset_code}}
                </ion-label>
                <ion-radio [value]="i"></ion-radio>
              </ion-item>
            </ng-template>
          </ion-radio-group>
        </ion-list>

        <p *ngIf="!pathsFound.length">
          No payment paths found
        </p>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="choosePathForm.invalid" (click)="submitChoosePathForm()" mat-button>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="operationForm">
        <ng-template matStepLabel>Send Payment</ng-template>
        <div>
          <label>Destination</label>

          <app-dynamic-input [inputType]="'text'" [form]="operationForm" [controlName]="'destination'"
            [placeHolder]="'Destination'" [isEd25519PublicKey]="true">
          </app-dynamic-input>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="operationForm.invalid" (click)="saveOperation()" mat-button>Save<ion-icon slot="end"
              name="add"></ion-icon>
          </button>
          <button [disabled]="operationForm.invalid" (click)="sendOperation()" mat-button>Send<ion-icon slot="end"
              name="checkmark"></ion-icon>
          </button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</ion-content>