<app-header [title]="pageTitle" [helpUrl]="helpUrl" [subTitle]="subTitle"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="offerForm">
    <ion-item>
      <ion-label position="stacked">Selling</ion-label>
      <app-asset-picker [form]="offerForm" [controlName]="'selling'" [displayType]="'manual'"></app-asset-picker>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Buying</ion-label>
      <app-asset-picker [form]="offerForm" [controlName]="'buying'" [displayType]="'manual'"></app-asset-picker>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Price</ion-label>
      <app-dynamic-input [form]="offerForm" [controlName]="'price'" [placeHolder]="'Price'">
      </app-dynamic-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Amount</ion-label>
      <app-dynamic-input [form]="offerForm" [controlName]="'amount'" [placeHolder]="'Amount'">
      </app-dynamic-input>
    </ion-item>
    <ion-item>
      <app-select-source [form]="offerForm" [controlName]="'source'"></app-select-source>
    </ion-item>
    <div class="ion-margin ion-text-center">
      <ion-button type="button" [disabled]="offerForm.invalid" (click)="buildOperation()">Save</ion-button>
      <ion-button type="button" [disabled]="offerForm.invalid" (click)="buildOperation()">Send</ion-button>
    </div>
  </form>
</ion-content>