<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm" (submit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" formControlName="password"></ion-input>
        <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">

          <div *ngIf="password.errors.required">
            A value is required.
          </div>

          <div *ngIf="password.errors.minlength">
            Minimum length is 8 characters
          </div>
        </div>

      </ion-item>
      <ion-item>
        <ion-button type="submit" [disabled]="loginForm.invalid">Login</ion-button>

        
      </ion-item>
    </form>

</ion-content>
