<app-header [title]="pageTitle" [helpUrl]="helpUrl" [subTitle]="subTitle"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="allowTrustForm">
    <ion-item>
      <ion-label position="stacked">Trustor</ion-label>
      <app-dynamic-input [inputType]="'text'" [form]="allowTrustForm" [controlName]="'trustor'"
        [placeHolder]="'Public key'" [isEd25519PublicKey]="true"></app-dynamic-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Asset Code</ion-label>
      <app-dynamic-input [inputType]="'text'" [form]="allowTrustForm" [controlName]="'assetCode'"
        [placeHolder]="'Asset Code'" [maxValue]="12"></app-dynamic-input>
    </ion-item>

    <ion-item>
      <ion-label>Authorize</ion-label>
      <div>
        <ion-segment formControlName="authorize">
          <ion-segment-button value="true">
            <ion-label>Yes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="false">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <ion-text color="danger" *ngIf="authorize.invalid && (authorize.dirty || authorize.touched)">
        <p *ngIf="authorize.errors.required">
          value is required.
        </p>
      </ion-text>
    </ion-item>

    <ion-item>
      <app-select-source [form]="allowTrustForm" [controlName]="'source'"></app-select-source>
    </ion-item>

    <div class="ion-margin ion-text-center">
      <ion-button type="button" [disabled]="allowTrustForm.invalid" (click)="addOperation()">
        Save
      </ion-button>
      <ion-button type="button" [disabled]="allowTrustForm.invalid" (click)="signOperation()">Send
      </ion-button>
    </div>
  </form>
</ion-content>