<ion-header>
  <ion-toolbar>
    <ion-title>Create Account Operation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="createAccountForm">
    <ion-item>
      <ion-label position="stacked">Source</ion-label>
      <app-select-source [form]="createAccountForm" [controlName]="'source'"></app-select-source>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Destination</ion-label>
      <app-dynamic-input [controlName]="'destination'" [form]="createAccountForm"
      [inputType]="'text'" [isRecipient]="true"></app-dynamic-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Amount</ion-label>
      <app-dynamic-input [controlName]="'amount'" [form]="createAccountForm"></app-dynamic-input>
    </ion-item>

    <div class="ion-margin ion-text-center">
      <ion-button type="button" [disabled]="createAccountForm.invalid" (click)="addOperation()">Save</ion-button>
      <ion-button color="success" type="button" [disabled]="createAccountForm.invalid" (click)="signOperation()">Senv</ion-button>
    </div>
  </form>
</ion-content>