<app-header [title]="pageTitle" [helpUrl]="helpUrl"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="createAccountForm">
    <ion-item>
      <ion-label position="stacked">Destination</ion-label>
      <app-dynamic-input [controlName]="'destination'" [form]="createAccountForm" [inputType]="'text'"
        [isRecipient]="true"></app-dynamic-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Amount</ion-label>
      <app-dynamic-input [controlName]="'amount'" [form]="createAccountForm"></app-dynamic-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Source</ion-label>
      <app-select-source [form]="createAccountForm" [controlName]="'source'"></app-select-source>
    </ion-item>

    <div class="ion-margin ion-text-center">
      <ion-button type="button" [disabled]="createAccountForm.invalid" (click)="addOperation()">Save</ion-button>
      <ion-button type="button" [disabled]="createAccountForm.invalid" (click)="signOperation()">Send</ion-button>
    </div>
  </form>
</ion-content>