<div [formGroup]="form">
  <div [formGroupName]="controlName">
    <ion-segment (ionChange)="memoChanged($event)" [value]="memo_type">
      <ion-segment-button value="text">
        <ion-label>Text</ion-label>
      </ion-segment-button>
      <ion-segment-button value="id">
        <ion-label>ID</ion-label>
      </ion-segment-button>
      <ion-segment-button value="hash">
        <ion-label>Hash</ion-label>
      </ion-segment-button>
      <ion-segment-button value="return">
        <ion-label>Return</ion-label>
      </ion-segment-button>
    </ion-segment>


    <app-dynamic-input [inputType]="'text'" [form]="memoGroup" [controlName]="'memoType'" [isHidden]="true">
    </app-dynamic-input>

    <app-dynamic-input [inputType]="'text'" [form]="memoGroup" [controlName]="'memoValue'" [placeHolder]="'Memo Value'"
      [defaultValue]="memo_value">
    </app-dynamic-input>
    <div class="text-danger"
      *ngIf="form.controls[controlName].invalid && (form.controls[controlName].dirty || form.controls[controlName].touched)">

      <div *ngIf="form.controls[controlName].errors.isValidMemo">
        {{ form.controls[controlName].errors.isValidMemo }}
      </div>
    </div>
  </div>
</div>