<app-header [title]="pageTitle" [helpUrl]="helpUrl" [subTitle]="subTitle"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="operationForm">
    <ion-item>
      <ion-label position="stacked">Selling</ion-label>
      <app-asset-picker [form]="operationForm" [controlName]="'selling'" [displayType]="'manual'"></app-asset-picker>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Buying</ion-label>
      <app-asset-picker [form]="operationForm" [controlName]="'buying'" [displayType]="'manual'"></app-asset-picker>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Price</ion-label>
      <app-dynamic-input [form]="operationForm" [controlName]="'price'" [placeHolder]="'Price'">
      </app-dynamic-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Amount</ion-label>
      <app-dynamic-input [form]="operationForm" [controlName]="'amount'" [placeHolder]="'Amount'">
      </app-dynamic-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Offer ID</ion-label>
      <app-dynamic-input [form]="operationForm" [controlName]="'offerID'" [placeHolder]="'Offer ID'"
        [isRequired]="false">
      </app-dynamic-input>
      <ion-note>Leave blank to create new offer</ion-note>
    </ion-item>
    <ion-item>
      <app-select-source [form]="operationForm" [controlName]="'source'"></app-select-source>
    </ion-item>

    <div class="ion-margin ion-text-center">
      <ion-button type="button" [disabled]="operationForm.invalid" (click)="saveOperation()">Save<ion-icon slot="end" name="add"></ion-icon>
</ion-button>
      <ion-button type="button" [disabled]="operationForm.invalid" (click)="sendOperation()">Send<ion-icon slot="end" name="checkmark"></ion-icon>
</ion-button>
    </div>
  </form>
</ion-content>