<div [formGroup]="form" [ngClass]="{
  'ion-hide': isHidden
}">
  <ion-input type="{{ inputType }}" name="{{controlName}}" formControlName="{{controlName}}"
    placeholder="{{placeHolder}}" [value]="defaultValue"></ion-input>
  <div color="danger"
    *ngIf="form.controls[controlName].invalid && (form.controls[controlName].dirty || form.controls[controlName].touched)">

    <div *ngIf="form.controls[controlName].errors.required">
      Please enter a value
    </div>
    <div *ngIf="form.controls[controlName].errors.min">
      Minimum value is {{minValue}}
    </div>

    <div *ngIf="form.controls[controlName].errors.max">
      Maximum value is {{maxValue}}
    </div>

    <div *ngIf="form.controls[controlName].errors.maxlength">
      Maximum length is {{maxValue}}
    </div>

    <div *ngIf="form.controls[controlName].errors.minlength">
      Minimum length is {{minValue}}
    </div>

    <div *ngIf="form.controls[controlName].errors.isValidRecipient">
      Invalid: Expects public key or federation address
    </div>

    <div *ngIf="form.controls[controlName].errors.isValidPublicKey">
      Invalid: Expects Stellar public key
    </div>
  </div>
</div>