<app-header [title]="pageTitle" [helpUrl]="helpUrl"></app-header>

<ion-content class="ion-padding">
  <div *ngIf="!exportGenerated; else showExport">
    <form [formGroup]="exportAccountForm">
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <app-dynamic-input [inputType]="'password'" [form]="exportAccountForm" [controlName]="'password'"
          [placeHolder]="'Password'"></app-dynamic-input>
      </ion-item>

      <div class="ion-margin ion-text-center">
        <ion-button type="button" [disabled]="exportAccountForm.invalid" (click)="exportAccounts()">Export<ion-icon
            slot="end" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
  <ng-template #showExport>
    <div>
      <p class="ion-text-wrap">Backup key <app-copy-button [copyInput]="encryptionKey"
          (copyOutput)="itemCopied($event)">
        </app-copy-button>
      </p>

      <ion-label>{{encryptionKey}}</ion-label>
    </div>
    <div>
      <p class="ion-text-wrap">Account Backup <app-copy-button [copyInput]="dataToExport"
          (copyOutput)="itemCopied($event)">
        </app-copy-button>
      </p>

      <ion-note class="ion-text-wrap">{{dataToExport}}</ion-note>
    </div>

    <div class="ion-margin ion-text-center">
      <ion-button type="button" color="danger" (click)="cancelExport()">Cancel<ion-icon slot="end" name="close">
        </ion-icon>
      </ion-button>
      <ion-button type="button" [routerLink]="'/dashboard'">Done<ion-icon slot="end" name="checkmark"></ion-icon>
      </ion-button>
    </div>
  </ng-template>
</ion-content>