<ion-header>
  <ion-toolbar>
    <ion-title>Setup Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>
          <ion-icon name="lock"></ion-icon>
          Enter a password
        </h3>


        <form [formGroup]="passwordForm" (submit)="formSubmit()">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" name="password" formControlName="password" placeholder="Password"></ion-input>
            <ion-text color="danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <p *ngIf="password.errors.required">
                Value is required.
              </p>
              <p *ngIf="password.errors.minlength">
                Minimum length is {{password.errors.minlength.requiredLength}} characters
              </p>
              <p *ngIf="password.errors.isValidPassword">
                {{password.errors.isValidPassword}}
              </p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Confirm Password</ion-label>
            <ion-input type="password" name="confirmPassword" formControlName="confirmPassword"
              placeholder="Confirm password"></ion-input>
            <ion-text color="danger"
              *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
              <p *ngIf="confirmPassword.errors.required">
                Value is required.
              </p>
              <p *ngIf="confirmPassword.errors.minlength">
                Minimum length is {{confirmPassword.errors.minlength.requiredLength}} characters
              </p>
              <p *ngIf="confirmPassword.errors.equalTo">
                Password mismatch
              </p>
              <p *ngIf="confirmPassword.errors.isValidPassword">
                {{confirmPassword.errors.isValidPassword}}
              </p>
            </ion-text>
          </ion-item>

          <ion-button class="ion-padding" type="submit" expand="block" [disabled]="passwordForm.invalid">
            <ion-icon slot="end" name="save"></ion-icon>
            Save
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>