<ion-header>
  <ion-toolbar>
    <ion-title>Setup Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm">
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="4">
          <h3>
            <ion-icon name="lock"></ion-icon>
            Enter a password
          </h3>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" name="password" formControlName="password" placeholder="Password"></ion-input>
            <ion-text color="danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <p *ngIf="password.errors.required">
                Value is required.
              </p>
              <p *ngIf="password.errors.minlength">
                Minimum length of {{password.errors.minlength.requiredLength}} characters required.
              </p>
              <p *ngIf="password.errors.isValidPassword">
                {{password.errors.isValidPassword}}
              </p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Confirm Password</ion-label>
            <ion-input type="password" name="confirmPassword" formControlName="confirmPassword"
              placeholder="Confirm password"></ion-input>
            <ion-text color="danger"
              *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
              <p *ngIf="confirmPassword.errors.required">
                Value is required.
              </p>
              <p *ngIf="confirmPassword.errors.minlength">
                Minimum length of {{confirmPassword.errors.minlength.requiredLength}} characters required.
              </p>
              <p *ngIf="confirmPassword.errors.equalTo">
                Password mismatch
              </p>
              <p *ngIf="confirmPassword.errors.isValidPassword">
                {{confirmPassword.errors.isValidPassword}}
              </p>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="4" offset-md="4" size-lg="2" offset-lg="5">
          <div class="ion-margin ion-text-center">
            <ion-button expand="block" (click)="formSubmit()" [disabled]="passwordForm.invalid">
              <ion-icon slot="end" name="save"></ion-icon>
              Save
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>