<app-header [accountPicker]="showAccountPicker"></app-header>

<ion-content>
  <div *ngIf="!numberOfAccounts">
    <h3 class="ion-text-center ion-margin">Add a Stellar Account</h3>
    <ion-item-divider color="light" sticky>
      <ion-label>
        New Stellar Account
      </ion-label>
    </ion-item-divider>
    <div class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="4" offset-sm="4">
            <ion-button class="ion-margin" expand="block" shape="round" [routerDirection]="'root'"
              [routerLink]="'/create-account'">
              Create Account</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-item-divider color="light" sticky>
      <ion-label>
        Link Existing Account
      </ion-label>
    </ion-item-divider>
    <div class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="4" offset-sm="4">
            <ion-button class="ion-margin" expand="block" shape="round" [routerDirection]="'root'"
              [routerLink]="'/link-account'">
              Link Account</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="numberOfAccounts">
    <div>
      <ion-item-divider color="light" sticky>
        <ion-label>
          Account Balance
        </ion-label>
      </ion-item-divider>
      <app-account-balance></app-account-balance>
    </div>
    <div class="ion-margin-top">
      <ion-item-divider color="light" sticky>
        <ion-label>
          Operations
        </ion-label>
      </ion-item-divider>
      <app-account-history></app-account-history>
    </div>
  </div>
</ion-content>