<app-header [accountPicker]="showAccountPicker"></app-header>

<ion-content class="ion-padding">
  <div *ngIf="!numberOfAccounts; else showDashboard" class="ion-padding">
    <h3 class="ion-padding heading-border">Add a Stellar Account</h3>

    <div class="ion-padding">
      <p class="ion-text-center">
        Create a new account
      </p>
      <ion-grid>
        <ion-row>
          <ion-col size-sm="4" offset-sm="4">
            <ion-button class="ion-margin" expand="block" shape="round" [routerDirection]="'root'"
              [routerLink]="'/create-account'">
              <ion-icon slot="end" name="add"></ion-icon>
              Create Account
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="ion-padding">
      <p class="ion-text-center">
        Link an existing account
      </p>
      <ion-grid>
        <ion-row>
          <ion-col size-sm="4" offset-sm="4">
            <ion-button class="ion-margin" expand="block" shape="round" [routerDirection]="'root'"
              [routerLink]="'/link-account'">
              <ion-icon slot="end" name="link"></ion-icon>
              Link Account
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="ion-padding">
      <p class="ion-text-center">
        Import from a backup
      </p>
      <ion-grid>
        <ion-row>
          <ion-col size-sm="4" offset-sm="4">
            <ion-button class="ion-margin" expand="block" shape="round" [routerDirection]="'root'"
              [routerLink]="'/import-account'">
              <ion-icon slot="end" name="filing"></ion-icon>
              Import
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ng-template #showDashboard>
    <div class="ion-margin-top ">
      <h4 class="heading-border ion-padding">
        Account Balance
      </h4>
      <app-account-balance></app-account-balance>
    </div>
    <div class="ion-margin-top">

      <h3 class="heading-border ion-padding">
        Operations
      </h3>
      <app-account-history></app-account-history>
    </div>
  </ng-template>
</ion-content>