<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>Dashboard</ion-title> -->
    <app-account-picker></app-account-picker>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-account-picker></app-account-picker> -->
  <div>
    <ion-item-divider color="light" sticky>
      <ion-label>
        Account Balance
      </ion-label>
    </ion-item-divider>
    <app-account-balance></app-account-balance>
  </div>
  <div class="ion-margin-top">
    <ion-item-divider color="light" sticky>
      <ion-label>
        Operations
      </ion-label>
    </ion-item-divider>
    <app-account-history></app-account-history>
  </div>

</ion-content>