<app-header [title]="pageTitle" [helpUrl]="helpUrl"></app-header>

<ion-content>
  <div *ngIf="!operations.length">
    <h3 class="ion-text-center" color="secondary">
      No Pending Operations.
    </h3>
  </div>
  <ion-list *ngIf="operations.length">
    <ion-item *ngFor="let op of operations" detail>
      <ion-label>
        <p>{{ op.type | splitOpName | titlecase }}</p>
        <small>{{ op.source | truncatePublicKey }}</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
